h1{
	display: box;
	margin: 0 auto;
	width: 480px;
	font-family: helvetica;
	color: #cccccc;
}
h2{
	display: box;
	margin: 0 auto;
	width: 960px;
	font-family: helvetica;
	color: #cccccc;
}

.containerizer{
	margin: 0 auto;
	display: block;
	width: 960px;
}
.nav-container{
	height: 50px;
	width: 960px;
	border-bottom: solid #cccccc 1px;
}
.logo{
	margin-top: 0px;
	width: 480px;
	float: left;
}
.logo 
.nav-list{
	width: 480px;
	float: right;
}
.nav-list li{
	margin-top: 15px;
	list-style-type	: none;
	float: right;
	font-family: helvetica;
	font-weight: 100;
	font-size: 13px;
	padding-left: 4px;
}
.nav-list a{
	text-decoration: none;
	color: #cccccc;
}
.nav-list a:hover{
	color: black;
}

.name{
	font-weight: 100;
}
