<!DOCTYPE html> 
<html>
	<head>
		<title>Working Progress</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	</head>
	
	<body>
		<div class="containerizer">
			<div class="nav-container">
					<div class="logo"><h1>SAPOSKI</h1>
					</div><!--end logo-->
					<div class="nav-list">
					<ul>
						<li><a href="http://127.0.0.1:5000/portrait">Portraits</a>
						</li>

						<li><a href="http://127.0.0.1:5000/lifestyle">Lifestyle</a>
						</li>
					
						<li><a href="http://127.0.0.1:5000/candid">Candid</a>
						</li>

						</li>

						<li><a href="http://127.0.0.1:5000/contact">Contact</a>
						</li>

						<li><a href="http://127.0.0.1:5000/login">Login</a>
						</li>
					</ul>
					</div> <!--end nav-list-->
			</div><!--end nav-container -->
		</div><!--end containerizer -->

		{% block content %}
		{% endblock %}
		<footer>
			<div class="footer-list">
				<ul>
				<li><img src="../static/images/500px.png" width="33" height="33">
				</li>
				
				<li><img src="../static/images/facebook.png" width="33" height="33">
				</li>
				
				<li><img src="../static/images/instagram.png" width="33" height="33">
				</li>
				
				<li><img src="../static/images/pinterest.png" width="33" height="33">
				</li>
				
				<li><img src="../static/images/tumblr.png" width="33" height="33">
				</li>
				
				<li><img src="../static/images/twitter.png" width="33" height="33">
				</li>
				
				<li><img src="../static/images/vimeo.png" width="33" height="33">
				</li>
				
				<li><img src="../static/images/youtube.png" width="33" height="33">
				</li>
				</ul>
			</div>
		</footer>
		<script type="text/javascript" src="../static/js/main.js"></script>
	</body>
</html>
